<mat-toolbar>
  <mat-toolbar-row>
    <span>Form Step Control </span>
  </mat-toolbar-row>
</mat-toolbar>

<content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
 
    <router-outlet />

  <div class="actions">
    <div class="action-navigation">
      <button [disabled]="isFirstStepActive()" mat-raised-button [routerLink]="['/first-step']" routerLinkActive="router-link-active" >Previous</button>

       <button [disabled]="form.get('first')?.invalid" mat-raised-button [routerLink]="['/second-step']" routerLinkActive="router-link-active" >Next</button>
    </div>

    <button [disabled]="form.invalid" mat-raised-button>Save</button>
  </div>
    
   
 
  </form>

</content>
