<mat-toolbar>
  <mat-toolbar-row>
    <span>Form Step Control </span>
  </mat-toolbar-row>
</mat-toolbar>

<content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" #formRef>

    <router-outlet />

    <div class="actions">
      <div class="action-navigation">
        <button [disabled]="isFirstStepActive()" mat-raised-button [routerLink]="['/first-step']"
          routerLinkActive="router-link-active">Previous</button>

        <button [disabled]="form.get('first')?.invalid" mat-raised-button [routerLink]="['/second-step']"
          routerLinkActive="router-link-active">Next</button>
      </div>

      <button [disabled]="form.invalid" mat-raised-button>Save</button>
    </div>
  </form>


  <div class="form-state">
    <div>
      <pre>{{ form.value | json }}</pre>
    </div>

    <div class="form-errors">

      <div> <b>Name:</b>
        <pre>{{ form.get('first')?.get('name')?.errors | json }}</pre>
      </div>

      <div>
        <b>Age:</b>
        <pre>{{ form.get('first')?.get('age')?.errors | json }}</pre>
      </div>

      <div><b>Name:</b>
        <pre>{{ form.get('second')?.get('email')?.errors | json }}</pre>
      </div>
      <div><b>Name:</b>
        <pre>{{ form.get('second')?.get('phone')?.errors | json }}</pre>
      </div>
    </div>
  </div>




</content>